@use "../../assets/sass/variables" as v;

.card {
  background-color: v.$White;
  margin: 16px 16px;
  border-radius: 8px;
  padding: 17px;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;

    &--img {
      width: 32px;
    }

    &--name {
      color: v.$Dark-blue;
      font-weight: 700;
      margin-left: 16px;
    }

    &--date {
      color: v.$Grayish-Blue;
      font-weight: 300;
      margin-left: 16px;
    }
  }

  &__main {
    margin-bottom: 22px;

    &--paragraph {
      font-weight: 300;
      color: v.$Grayish-Blue;
      line-height: 1.4;

      &-replyinTo {
        color: v.$Moderate-blue;
        font-weight: 500;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &--point {
      background-color: v.$Light-gray;
      width: 100px;
      height: 40px;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      &-number {
        color: v.$Moderate-blue;
        font-weight: 500;
      }
    }

    &--reply {
      display: flex;
      flex-direction: row;

      &-text {
        color: v.$Moderate-blue;
        font-weight: 500;
        margin-left: 10px;
      }
    }
  }
}
